site_name: rich-gradient
repo_name: rich-gradient
repo_url: https://GitHub.com/maxludden/rich-gradient
edit_uri: root/docs
site_description: rich-gradient is a python package built on the great rich library that automates the generation of gradient colored rich renderables.
site_author: Max Ludden

nav:
    - Getting Started: "index.md"
    - User Guide:
          - Text: "text.md"
          - Gradient: "gradient.md"
          - Panel: "panel.md"
          - Rule: "rule.md"
          - Spectrum: "spectrum.md"
          - Animation: "animation.md"
          - Configuration: "configuration.md"
    - References:
          - Animated Text Reference: "animated_text_ref.md"
          - Animated Gradient Reference: "animated_gradient_ref.md"
          - Animated Panel Reference: "animated_panel_ref.md"
          - Gradient Reference: "gradient_ref.md"
          - Panel Reference: "panel_ref.md"
          - Rule Reference: "rule_ref.md"
          - Spectrum Reference: "spectrum_ref.md"
          - Text Reference: "text_ref.md"
          - Theme Reference: "theme_ref.md"
    - Changelog: "CHANGELOG.md"

theme:
    name: material
    logo: img/rich-gradient-icon.svg
    favicon: img/rich-gradient-icon.svg
    features:
        - navigation.instant
        - navigation.instant.prefetch
        - navigation.tracking
        - content.code.annotate
        - toc.integrate
        - toc.follow
        - navigation.path
        - navigation.top
        - content.code.copy
    font:
        code: Fira Code
        text: "Urbanist"
    palette:
        - media: "(prefers-color-scheme)"
          scheme: astral-dark
          toggle:
              icon: material/brightness-auto
              name: Switch to light mode
        - media: "(prefers-color-scheme: light)"
          scheme: astral-light
          toggle:
              icon: material/brightness-7
              name: Switch to dark mode
        - media: "(prefers-color-scheme: dark)"
          scheme: astral-dark
          toggle:
              icon: material/brightness-4
              name: Switch to system preference

plugins:
    - mkdocstrings
    - search

extra:
    social:
        - icon: fontawesome/brands/github
          link: https://github.com/maxludden
        - icon: fontawesome/brands/python
          link: https://pypi.org/project/rich-gradient
extra_css:
    - "styles/style.css"
    - "styles/extra.css"
extra_javascript:
    - "scripts/copy.js"
markdown_extensions:
    - abbr
    - admonition
    - attr_list
    - def_list
    - footnotes
    - md_in_html
    - toc:
          permalink: true
    - pymdownx.highlight:
          anchor_linenums: true
          line_spans: __span
          pygments_lang_class: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - pymdownx.details
